*{
    font-family: 'Quicksand', sans-serif;
}
header{
    background-color: aquamarine;
    padding: 35px;
}
header h1, header h2{
    margin: 0;
}
#main_container ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 30px;
}
#main_container ul li{
    margin: 10px;
}
#main_container ul li a{
    display: block;
    color: crimson;
    text-decoration: none;
}
#main_container ul li a:hover{
    color: darkorange;
    text-decoration: none;
}
footer{
    background-color: aquamarine;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 30px;
}