*{
    box-sizing: border-box;
}

.d-flex{
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
input{
    display: block;
    margin-bottom: 10px;
}
.hidden{
    display: none;
}